.description {
  padding-top: 175px;
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.descriptionContentTitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Futura Md BT';
  font-style: Medium;
  font-size: 64px;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: 0%;
  width: 575px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.descriptionContentSubTitle {
  background: linear-gradient(11.2deg, white 57%, rgba(186, 0, 0, 1) 43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionContentItem {
  color: rgba(255, 255, 255, 1);
  font-family: 'Futura Bk BT';
  font-style: Book;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  width: 1065px;
  margin: 0px;
}

.descriptionContentBtn {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 36px;
  background: none;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Futura Bk BT';
  font-style: Book;
  font-size: 12px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0%;
  cursor: pointer;
}
