html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 1);
}

* {
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0px auto;
}

main {
  background: url('./assets/main.webp') no-repeat center 0px / 120%;
}

[data-animate] {
  opacity: 0;
}

@font-face {
  font-family: 'Futura BK BT';
  src: url('./fonts/futurabtbook.ttf');
}

@font-face {
  font-family: 'Futura LtCn BT';
  src: url('./fonts/futuralightcondensedbt.ttf');
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('./fonts/futuramdbt_bold.otf');
}

@font-face {
  font-family: 'Futura Hv BT';
  src: url('./fonts/futuraheavy.ttf');
}

@font-face {
  font-family: 'Futura XBlkCnIt BT';
  src: url('./fonts/futuraextrablackcondenseditalicbt.ttf');
}

.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

[data-animate] {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
